{% extends "screen.html" %}

{% load static %}

{% block inside_screen %}
	<center><h4 class="title_page">MOVIEDEX</h4></center>

  {% if data.moviemon_id %}
    <div class="cover">
      <img height="100%" width="100%" src="/static/images/{{ data.moviemon_id }}.jpg">
    </div>
  {% elif data.details %}
    <div class="icon">
      <img height="30%" width="30%" src="/static/images/{{ data.details.id }}.jpg">
    </div>
    <div class="description">
      <p class="text">title: {{ data.details.title }} </p>
      <p class="text">rating: {{ data.details.rating }} </p>
      <p class="text">released: {{ data.details.released }} </p>
      <p class="text">actors: {{ data.details.actors }} </p>
      <p class="text">director: {{ data.details.director }} </p>
      <p class="text">synopsis: {{ data.details.synopsis }} </p>
    </div>
  {% endif %}

{% endblock %}
