{% extends "screen.html" %}

{% load static %}

{% block inside_screen %}
<div class="screen_map">

	{% for y in grid.y %}
		<div class="flex-container">
			{% for x in grid.x %}
				{% if y == player.y and x == player.x %}
					<div class="pikachu"></div>
				{% else %}
					<div class="flex-item"></div>
				{% endif %}
			{% endfor %}
		</div>
	{% endfor %}
	<div class="map_info_player">
		strength: {{ player.strength }}<br>
		movieballs: {{ player.movieballs }}<br>
		moviedex nb: {{ player.moviedex_nb }}
	</div>
	<div class="map_event">{{ event }}</div>
</div>

{% endblock %}
